<div class="grid grid-cols-2">
  <section>
    <h2>Regions</h2>
    <ul>
      @for (region of this.service.regions(); track $index) {
      <li>
        <button
          class="hover:underline"
          (click)="this.service.selectRegion(region)"
        >
          {{ region.name }}
        </button>
      </li>
      }
    </ul>
  </section>
  <aside>
    <h2>Departements</h2>
    <ul>
      @for (department of this.service.departements(); track $index) {
      <li>
        <button class="hover:underline">
          {{ department.name }}
        </button>
      </li>
      } @empty {
      <li>Aucun département(s)</li>
      }
    </ul>
  </aside>
</div>
