<div class="grid grid-cols-2">
  <section>
    <h2>Regions</h2>
    <ul>
      @for (region of regionsSignal(); track $index) {
      <li>
        <button
          class="hover:underline"
          (click)="this.selectRegionByName(region.name)"
        >
          {{ region.name }}
        </button>
      </li>
      }
    </ul>
  </section>
  <aside>
    <h2>Départements</h2>
    @if (selectedRegionSignal().name !== "N/A") {
    <p>{{ selectedRegionSignal().name }}</p>
    <p>{{ selectedRegionSignal().code }}</p>
    }@else {
    <p>Sélectionnez une région</p>
    }
  </aside>
</div>
